body {
    margin: 0;
    font-family: 'poppins', serif;
    color: #31363F;
    background: #F1F1F1;
}

h1,
h3 {
    font-family: 'roboto', sans-serif;
    font-weight: 700;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00215E;
}

header img {
    width: 80px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;

}

nav li {
    margin-right: 3em;
}

nav a {
    text-decoration: none;
    color: #eeeeee;
}

nav a:hover,
nav a:focus {
    text-decoration: none;
    color: #FC4100;
}

/* SERVICES SECTION */
.container {
    margin: 0 auto;
    width: 90%;
    max-width: 960px;
}

section {
    margin: 3em 0;
}

section h1 {
    text-align: center;
}

.carousel {
    border: solid 1px white;
    border-radius: 1em;
    padding: 2em;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carousel img {
    max-width: 30%;
}

.carousel-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}
.carousel:nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
    justify-self: center;
}
@media (max-width: 650px) {
    .carousel{
        padding: 1em;
    }
    .carousel-container{
        display: flex;
        flex-direction: column;
        /* width: 100%; */
    }
}


/* FOOTER */
footer {
    background: #00215E;
    padding: 1em;
    color: #eeeeee;
    /* display: flex;
    justify-content: space-between; */
    text-align: center;
}

footer a {
    color: #eeeeee;
    margin-right: 2em;
}

footer a:hover,
footer a:focus {
    color: #FC4100;
}